/*
                              Colors type

• red—assertive, powerful, sexy, dangerous
• pink—innocent, romantic, feminine
• black—strong, classic, stylish
• gray—business-like, detached
• yellow—warm, cheerful, optimistic
• blue—consoling, serene, quiet
• orange—friendly, vigorous, inviting
• white—clean, pure, straightforward, innocent
*/

/* 
                      Using Contextual Selectors

• To select all elements, use the * selector.
• To select a single element, use the elem selector, where elem is the name of the
element.
• To select a descendant element, use the parent descendant selector where parent
is a parent element and descendant is an element nested within the parent at some
lower level.
• To select a child element, use the parent > child selector.
• To select a sibling element, elem2, that directly follows elem1, use the
elem1 + elem2 selector.
• To select a sibling element, elem2, that follows, but not necessarily directly elem1,
use the elem1 ~ elem2 selector.
*/

/* 
                        Using Viewport Units

Another relative unit is the viewport unit in which lengths are expressed as a
percentage of the width or height of the browser window. As the browser window is
resized, the size of text based on a viewport unit changes to match. CSS3 introduced
four viewport units: vw, vh, vmin, and vmax where
• 1vw = 1% of the browser window width
• 1vh = 1% of the browser window height
• 1vmin = 1vw or 1vh (whichever is smaller)
• 1vmax = 1vw or 1vh (whichever is larger)
*/

/* 
              Using Dynamic Pseudo-Class to Create Hypertext

• To create a rollover for a hypertext link, use the pseudo-classes
a:link
a:visited
a:hover
a:active
where the link pseudo-element matches unvisited link, visited matches previously
visited links, hover matches links that have the mouse pointer hovering over them,
and active matches links that are in the action of being clicked.
*/


/*  Global style */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background: #eedfd3;
  font-family: 'Cabin', sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.1rem;
}


/* Header */

#sport img {
  margin: 1rem;
}

header nav ul li {
  list-style: none;
  margin: 0.5rem;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #2f2f2f;
}

header nav ul li a:hover,
header nav ul li a:active {
  color: #171717;
}

#sport h1 {
  font-size: 3.5rem;
  color: #3e3b39;
  background-color: #faf9f8;
  text-transform: uppercase;
  text-align: center;
}


/*  Why us */

#whyUs h2 {
  font-size: 2.2rem;
  text-align: center;
  color: #908b86;
  background: #f5f3f2;
  margin-top: 2.5rem;
}

#whyUs p {
  padding: 1rem;
  font-size: 1.5rem;
}

/*  About  */

#about h2 {
  font-size: 2.2rem;
  text-align: center;
  color: #908b86;
  background: #f5f3f2;
  margin-top: 2.5rem;
}

#about .about-description {
  padding: 1rem;
  font-size: 1.5rem;
}



/*  Customer */

#customer h2 {
  font-size: 2.2rem;
  text-align: center;
  color: #908b86;
  background: #f5f3f2;
  margin-top: 2.5rem;
}

#customer h3 {
  font-size: 1.8rem;
  margin-left: 2rem;
}

#customer ul li img {
  margin-left: 4rem;
}

#customer ul li {
  list-style: none;
}

#customer ul li p {
  font-size: 1.5rem;
}


/*  Footer */

footer nav ul li {
  list-style: none;
  margin: 0.5rem;
}

footer nav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2f2f2f;
}

footer nav ul li a:hover,
footer nav ul li a:active {
  color: #171717;
}

footer .footer-contact {
  text-align: center;
  font-size: 1.4rem;
}

footer .footer-contact a {
  color: #2f2f2f;
}

footer .footer-contact:hover,
footer .footer-contact a:active {
  color: #171717;
}

a footer .footer-design {
  font-size: 1.4rem;
  text-align: center;
}